@font-face {
    font-family: 'TT Travels-Regular';
    src: url(..//Fonts/TTTravels-Regular.ttf);
}

@font-face {
    font-family: 'TT Travels-Medium';
    src: url(..//Fonts/TTTravels-Medium.ttf);
}

@font-face {
    font-family: 'Neue Machina-Bold';
    src: url(..//Fonts/NeueMachina-Bold.ttf);
}

@font-face {
    font-family: 'Neue Machina-Medium';
    src: url(..//Fonts/NeueMachina-Medium.ttf);
}

.background{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    top: 0px;
    left: 0px;
    background: url(..//Images/abstract2.png);
    background-repeat:no-repeat;
    background-size: cover;

}

.frame{
    position: absolute;
width: 700px;
height: 400px;
left: 33%;
top: 250px;

background: rgba(0, 0, 0, 0.01);
border: 1px solid #FFFFFF;
backdrop-filter: blur(7.5px);   
}


.text {
    position: absolute;
height: 23px;
left: 30px;
top: 50px;

font-family: 'TT Travels-Regular';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 95%;
/* identical to box height, or 23px */


color: rgba(255, 255, 255, 0.8);
}

    

.button {

    position: absolute;
    left: 30px;
    top: 300px;
    font-family: 'Neue Machina-Medium';
    font-style: normal;
    font-weight: 500;
font-size: 32px;
    line-height: 31px;
    width: 220px;
    height: 70px;
    color: #000000;
    background-color: gold;
}

.back {
   background: url(..//Images/Icon.png);
   position: absolute;
   left: 30px;
   top: 20px;
   width: 40px;
   height: 40px;
   background-repeat: no-repeat;
   
}


.blockGoal {
    position: absolute;
width:500px;
height: 150px;
left: 28px;
top: 120px;
color: #FFFFFF;
/* dark grey */
font-size: 24px;
background: #201E26;
background-size: cover;

}

