@font-face {
    font-family: 'TT Travels-Regular';
    src: url(..//Fonts/TTTravels-Regular.ttf);
}

@font-face {
    font-family: 'TT Travels-Medium';
    src: url(..//Fonts/TTTravels-Medium.ttf);
}

@font-face {
    font-family: 'Neue Machina-Bold';
    src: url(..//Fonts/NeueMachina-Bold.ttf);
}

@font-face {
    font-family: 'Neue Machina-Medium';
    src: url(..//Fonts/NeueMachina-Medium.ttf);
}


.abstract2 {
    position: absolute;
    width: 100%;
    height: 930px;
    left: 0px;
    top: 0px;
    
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2.5px);

}

.MTW {
    position: absolute;
width: 95px;
height: 29px;
left: 66px;
top: 64px;
}

.Advantages {
font-family: 'TT Travels-Regular';  
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
position: absolute;
width: 188px;
height: 29px;
left: 350px;
top: 71px;
text-align: center;
text-decoration: none;

color: white;
}

.ForWhom {

    position: absolute;
    width: 107px;
    height: 29px;
    left: 650px;
    top: 71px;
    
    font-family: 'TT Travels-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;

    text-align: center;
    
    color: #FFFFFF;
}

.PrincipleOfOperation {
    position: absolute;
    width: 207px;
    height: 29px;
    left: 850px;
    top: 71px;
    
    font-family: 'TT Travels-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
}

.SignIn {
    position: absolute;
    width: 76px;
    height: 29px;
    left: 1238px;
    top: 71px;
    
    font-family: 'TT Travels-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    text-decoration: none;

    text-align: right;
    
    color: #FBFC72;
}

.MainHead {
    position: absolute;
    width: 1000px;
    height: 138px;
    left: 22%;
    top: 180px;
    
    font-family: 'Neue Machina-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 69px;
    text-align: center;
    
    color: #FFFFFF;
    
}

.ShortDescription {
    position: absolute;
    width: 486px;
    height: 76px;
    left: 35%;
    top: 350px;
    
    font-family: 'TT Travels-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    
    color: #FFFFFF;
}

.ButtonBlock {
    position: absolute;
    width: 325px;
    height: 79px;
    left: 40%;
    top: 500px;
    
    background: #FBFC72;
}

.Connect {
    position: absolute;
    width: 269px;
    height: 31px;
    left: 27px;
    top: 20px;
    
    font-family: 'Neue Machina-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 31px;
    /* identical to box height */
    text-decoration: none;

    
    color: #000000;
}

.AdvantagesBlock {
    position: absolute;
    width: 100%;
    height: 2500px;
    top: 90%;
    

    backdrop-filter: blur(2.5px);
    background-color: rgb(35, 35, 36);
    left: 0px;

}

.AdvantagesText1 { 
    position: absolute;
    width: 244px;
    height: 31px;
    left: 66px;
    top: 20px;
    
    font-family: 'Neue Machina-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 31px;
    /* identical to box height */
    
    
    color: rgba(251, 252, 114, 0.8);
}

.AdvantagesHead {
    position: absolute;
    width: 882px;
    height: 138px;
    left: 66px;
    top: 55px;

    font-family: 'Neue Machina-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 69px;
    
    color: #FFFFFF;
    
}

.vasya {
    position: absolute;
width: 402px;
height: 512px;
left: 1000px;
top: 150px;
}

.blackVasya {
    position: absolute;
    width: 499px;
    height: 430px;
    left: 950px;
    top: 500px;
}

.headVasya {
    position: absolute;
width: 314px;
height: 31px;
left: 1070px;
top: 580px;

font-family: 'Neue Machina-Medium';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 31px;
/* identical to box height */


color: #FFFFFF;

}

.textVasya {
    position: absolute;
    width: 371px;
    height: 81px;
    left: 1000px;
    top: 650px;
    
    font-family: 'TT Travels-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 95%;
    /* or 27px */
    
    
    color: #FFFFFF;

}

.ellipseVasya {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 1300px;
    top: 500px;
    mix-blend-mode: difference;

}

.number1 {
    position: absolute;
width: 40px;
height: 31px;
left: 66px;
top: 300px;

font-family: 'Neue Machina-Medium';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 31px;
/* identical to box height */


color: rgba(251, 252, 114, 0.8);
}

.AdvantagesInfo1 {
    position: absolute;
    width: 632px;
    height: 76px;
    left: 66px;
    top: 350px;
    
    font-family: 'TT Travels-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 95%;
    /* or 38px */
    
    
    color: #FFFFFF;
}

.UnderAdvantagesInfo1 {
    position: absolute;
    width: 538px;
    height: 46px;
    left: 66px;
    top: 460px;
    
    font-family: 'TT Travels-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 95%;
    /* or 23px */
    
    
    color: rgba(255, 255, 255, 0.8);
    
}

.number2 {
    position: absolute;
    width: 40px;
    height: 31px;
    left: 66px;
    top: 600px;
    
    font-family: 'Neue Machina-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 31px;
    /* identical to box height */
    
    
    color: rgba(251, 252, 114, 0.8);
}

.AdvantagesInfo2 {
    position: absolute;
    width: 632px;
    height: 76px;
    left: 66px;
    top: 650px;
    
    font-family: 'TT Travels-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 95%;
    /* or 38px */
    
    
    color: #FFFFFF;
}


.UnderAdvantagesInfo2 {
    position: absolute;
    width: 538px;
    height: 46px;
    left: 66px;
    top: 760px;
    
    font-family: 'TT Travels-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 95%;
    /* or 23px */
    
    
    color: rgba(255, 255, 255, 0.8);
}

.number3 {
    position: absolute;
    width: 40px;
    height: 31px;
    left: 66px;
    top: 900px;
    
    font-family: 'Neue Machina-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 31px;
    /* identical to box height */
    

    color: rgba(251, 252, 114, 0.8);  
}

.AdvantagesInfo3 {
    position: absolute;
    width: 632px;
    height: 76px;
    left: 66px;
    top: 950px;
    
    font-family: 'TT Travels-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 95%;    
    color: #FFFFFF;
}

.UnderAdvantagesInfo3 {
    position: absolute;
    width: 538px;
    height: 46px;
    left: 66px;
    top: 1100px;
    
    font-family: 'TT Travels-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 95%;
    /* or 23px */
    
    
    color: rgba(255, 255, 255, 0.8);   
}

.ForWhomBlock {
position: absolute;
width: 100%;
height: 220%;
top: 240%;

backdrop-filter: blur(2.5px);
background-color: rgb(35, 35, 36);
left: 0px;
}

.ForWhomText {
    position: absolute;
width: 139px;
height: 31px;
left: 66px;
top: 20px;

font-family: 'Neue Machina-Medium';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 31px;
/* identical to box height */


color: rgba(251, 252, 114, 0.8);
}

.ForWhomHead {
    position: absolute;
width: 882px;
height: 138px;
left: 66px;
top: 60px;

font-family: 'Neue Machina-Bold';
font-style: normal;
font-weight: 700;
font-size: 72px;
line-height: 69px;

color: #FFFFFF;
}

.ForWhomNumber1 {
    position: absolute;
    width: 40px;
    height: 31px;
    left: 66px;
    top: 300px;
    
    font-family: 'Neue Machina-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 31px;
    /* identical to box height */
    
    
    color: rgba(251, 252, 114, 0.8);
}

.ForWhomNumber1Head {
    position: absolute;
width: 462px;
height: 38px;
left: 66px;
top: 350px;

font-family: 'TT Travels-Medium';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 95%;
/* identical to box height, or 38px */


color: #FFFFFF;
}

.UnderForWhomHead1 {
    position: absolute;
    width: 502px;
    height: 69px;
    left: 66px;
    top: 400px;
    
    font-family: 'TT Travels-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 95%;
    /* or 23px */
    
    
    color: rgba(255, 255, 255, 0.8);
}

.ForWhomNumber2 {
    position: absolute;
    width: 40px;
    height: 31px;
    left: 700px;
    top: 300px;
    
    font-family: 'Neue Machina-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 31px;
    /* identical to box height */
    
    
    color: rgba(251, 252, 114, 0.8);
}

.ForWhomNumber2Head2 {
    position: absolute;
width: 462px;
height: 38px;
left: 700px;
top: 350px;

font-family: 'TT Travels-Medium';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 95%;
/* identical to box height, or 38px */


color: #FFFFFF;
}

.UnderForWhomHead2 {
    position: absolute;
    width: 502px;
    height: 69px;
    left: 700px;
    top: 400px;
    
    font-family: 'TT Travels-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 95%;
    /* or 23px */
    
    
    color: rgba(255, 255, 255, 0.8);
}

.people {
    position: absolute;
    width: 1265px;
    height: 574px;
    left: 75px;
    top: 600px;
    
}

.blackPeople {
    position: absolute;
width: 1125px;
height: 480px;
left: 187px;
top: 1050px;
}

.peopleText1 {
    position: absolute;
    width: 878px;
    height: 93px;
    left: 305px;
    top: 1120px;
    
    font-family: 'Neue Machina-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 31px;
    
    color: #FFFFFF;
}

.ConOurService {
    position: absolute;
    width: 607px;
    height: 54px;
    left: 306px;
    top: 1250px;
    
    font-family: 'TT Travels-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 95%;
    /* or 27px */
    
    
    color: #FFFFFF;
}

.ButtonBlock2 {
    position: absolute;
    width: 300px;
    height: 79px;
    left: 306px;
    top: 1400px;
    
    background: #FBFC72;
}

.Button2Text {
    position: absolute;
width: 269px;
height: 31px;
left: 41px;
top: 25px;

font-family: 'Neue Machina';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 31px;
/* identical to box height */
text-decoration: none;


color: #000000;
}

.PrincipleOfOperationBlock {
    position: absolute;
    width: 100%;
    height: 245%;
    top: 410%;
    
    backdrop-filter: blur(2.5px);
    background-color: rgb(35, 35, 36);
    left: 0px;
}

.princip {
    position: absolute;
    left: 66px;
    top: 50px;  
    font-family: 'Neue Machina-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    color:  rgba(251, 252, 114, 0.8);   
}

.jobService {
    position: absolute;
    width: 1550px;
    height: 138px;
    left: 66px;
    top: 150px;
    
    font-family: 'Neue Machina-Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 69px;
    
    color: #FFFFFF;

}

.line {
    position: absolute;
    width: 200px;
    top: 600px;
    height: 1px;
    border: 3px solid #FFFFFF;
    transform: rotate(90deg);
}

.line2 {
    position: absolute;
    width: 200px;
    top: 800px;
    height: 1px;
    border: 3px solid #FFFFFF;
    transform: rotate(90deg);
}

.line3 {
    position: absolute;
    width: 200px;
    top: 1000px;
    height: 1px;
    border: 3px solid #FFFFFF;
    transform: rotate(90deg);
}

.line4 {
    position: absolute;
    width: 200px;
    top: 1200px;
    height: 1px;
    border: 3px solid #FFFFFF;
    transform: rotate(90deg);
}

.line5 {
    position: absolute;
    width: 200px;
    top: 1400px;
    height: 1px;
    border: 3px solid #FFFFFF;
    transform: rotate(90deg);
}

.line6 {
    position: absolute;
    width: 200px;
    top: 1500px;
    height: 1px;
    border: 3px solid #FFFFFF;
    transform: rotate(90deg);
}

.circle1 {
    position: absolute;
    width: 38px;
    height: 38px;
    top: 600px;
    border-radius: 50%;
    left: 83px;
    background: #FFFFFF;
}

.circle2 {
    position: absolute;
    width: 38px;
    height: 38px;
    top: 800px;
    border-radius: 50%;
    left: 83px;
    background: #FFFFFF;
}

.circle3 {
    position: absolute;
    width: 38px;
    height: 38px;
    top: 1000px;
    border-radius: 50%;
    left: 83px;
    background: #FFFFFF;
}

.circle4 {
    position: absolute;
    width: 38px;
    height: 38px;
    top: 1250px;
    border-radius: 50%;
    left: 83px;
    background: #FFFFFF;
}

.circle5 {
    position: absolute;
    width: 38px;
    height: 38px;
    top: 1450px;
    border-radius: 50%;
    left: 83px;
    background: #FFFFFF;
}

.first {
    position: absolute;
width: 40px;
height: 31px;
left: 189px;
top: 575px;

font-family: 'Neue Machina-Medium';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 31px;
/* identical to box height */


color: rgba(251, 252, 114, 0.8);

}

.reg {
    position: absolute;
    width: 632px;
    height: 38px;
    left: 189px;
    top: 615px;
    
    font-family: 'TT Travels-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 95%;
    /* identical to box height, or 38px */
    
    
    color: #FFFFFF;
    
}

.regText {
    position: absolute;
    width: 507px;
    height: 69px;
    left: 190px;
    top: 660px;
    
    font-family: 'TT Travels';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 95%;
    /* or 23px */
    
    
    color: rgba(255, 255, 255, 0.8);
}

.second {
    position: absolute;
width: 40px;
height: 31px;
left: 189px;
top: 775px;

font-family: 'Neue Machina-Medium';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 31px;
/* identical to box height */


color: rgba(251, 252, 114, 0.8);

}

.Goal {
    position: absolute;
    width: 632px;
    height: 38px;
    left: 189px;
    top: 815px;
    
    font-family: 'TT Travels-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 95%;
    /* identical to box height, or 38px */
    
    
    color: #FFFFFF;
    
}

.GoalText {
    position: absolute;
    width: 750px;
    height: 100px;
    left: 190px;
    top: 860px;
    
    font-family: 'TT Travels';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 95%;
    /* or 23px */
    
    
    color: rgba(255, 255, 255, 0.8);
}

.third {
    position: absolute;
width: 40px;
height: 31px;
left: 189px;
top: 975px;

font-family: 'Neue Machina-Medium';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 31px;
/* identical to box height */


color: rgba(251, 252, 114, 0.8);
}

.search {
    position: absolute;
    width: 632px;
    height: 38px;
    left: 189px;
    top: 1015px;
    
    font-family: 'TT Travels-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 95%;
    /* identical to box height, or 38px */
    
    
    color: #FFFFFF;
     
}

.searchText {
    position: absolute;
    width: 750px;
    height: 100px;
    left: 190px;
    top: 1100px;
    
    font-family: 'TT Travels';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 95%;
    /* or 23px */
    
    
    color: rgba(255, 255, 255, 0.8);
}

.Fourth {
    position: absolute;
    width: 40px;
    height: 31px;
    left: 189px;
    top: 1220px;
    
    font-family: 'Neue Machina-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 31px;
    /* identical to box height */
    
    
    color: rgba(251, 252, 114, 0.8);
}

.Plavno {
    position: absolute;
    width: 632px;
    height: 38px;
    left: 189px;
    top: 1260px;
    
    font-family: 'TT Travels-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 95%;
    /* identical to box height, or 38px */
    
    
    color: #FFFFFF;
}
   
.PlavnoText {
    position: absolute;
    width: 750px;
    height: 100px;
    left: 190px;
    top: 1300px;
    
    font-family: 'TT Travels';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 95%;
    /* or 23px */
    
    
    color: rgba(255, 255, 255, 0.8); 
}

.Fifth {
    position: absolute;
    width: 40px;
    height: 31px;
    left: 189px;
    top: 1420px;
    
    font-family: 'Neue Machina-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 31px;
    /* identical to box height */
    
    
    color: rgba(251, 252, 114, 0.8);  
}

.End {
    position: absolute;
    width: 632px;
    height: 38px;
    left: 189px;
    top: 1460px;
    
    font-family: 'TT Travels-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 95%;
    /* identical to box height, or 38px */
    
    
    color: #FFFFFF;
}

.EndText {
    position: absolute;
    width: 750px;
    height: 100px;
    left: 190px;
    top: 1540px;
    
    font-family: 'TT Travels';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 95%;
    /* or 23px */
    
    
    color: rgba(255, 255, 255, 0.8);   
}

.kirill {
    position: absolute;
    width: 489px;
    height: 685px;
    left: 950px;
    top: 700px;
    
}

.blackKirill {
    position: absolute;
width: 470px;
height: 358px;
left: 1000px;
top: 1150px;
}

.circleKirill {
    position: absolute;
width: 90px;
height: 90px;
left: 1180px;
top: 1150px;

background: url(ellipse_vasya.png);
mix-blend-mode: difference;
}

.InfoKirill {
    position: absolute;
    width: 358px;
    height: 31px;
    left: 1070px;
    top: 1250px;
    
    font-family: 'Neue Machina-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 31px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}

.kirillText {
    position: absolute;
    width: 371px;
    height: 81px;
    left: 1068px;
    top: 1300px;
    
    font-family: 'TT Travels-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 95%;
    /* or 27px */
    
    
    color: #FFFFFF;
}

.endBlock {
    position: absolute;
width: 632px;
height: 76px;
left: 66px;
top: 1650px;

font-family: 'TT Travels-Medium';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 95%;
/* or 38px */


color: #FFFFFF;
}

.ButtonBlock3 {
    position: absolute;
    width: 300px;
    height: 79px;
    left: 66px;
    top: 1800px;
    
    background: #FBFC72;
}

.Button3Text {
    position: absolute;
width: 269px;
height: 31px;
left: 41px;
top: 25px;
text-decoration: none;
font-family: 'Neue Machina';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 31px;
/* identical to box height */


color: #000000;
}

.podval {
    position: absolute;
    width: 100%;
    height: 268px;
    left: 0px;
    top: 640%;
    
    background: #0F0E12;
}

.logo2 {
    position: absolute;
width: 95px;
height: 29px;
left: 125px;
top: 60px;
}

.mdw {
    position: absolute;
width: 325px;
height: 23px;
left: 125px;
top: 100px;

font-family: 'TT Travels-Regular';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 95%;
/* identical to box height, or 23px */


color: rgba(255, 255, 255, 0.8);
}

.support {
    position: absolute;
width: 142px;
height: 23px;
left: 550px;
top: 40px;

font-family: 'TT Travels-Regular';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 95%;
/* identical to box height, or 23px */


color: rgba(255, 255, 255, 0.8);
}

.sotr {
    position: absolute;
width: 206px;
height: 23px;
left: 820px;
top: 40px;

font-family: 'TT Travels';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 95%;
/* identical to box height, or 23px */


color: rgba(255, 255, 255, 0.8);
}

.telega {
    position: absolute;
    width: 111px;
    height: 23px;
    left: 1090px;
    top: 40px;
    
    font-family: 'TT Travels-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 95%;
    /* identical to box height, or 23px */
    
    
    color: rgba(255, 255, 255, 0.8);
}

.VK {
    position: absolute;
    width: 111px;
    height: 23px;
    left: 1090px;
    top: 100px;
    
    font-family: 'TT Travels-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 95%;
    /* identical to box height, or 23px */
    
    
    color: rgba(255, 255, 255, 0.8);
}

.Inst {
    position: absolute;
    width: 111px;
    height: 23px;
    left: 1090px;
    top: 160px;
    
    font-family: 'TT Travels-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 95%;
    /* identical to box height, or 23px */
    
    
    color: rgba(255, 255, 255, 0.8);
}