@font-face {
    font-family: 'TT Travels-Regular';
    src: url(..//Fonts/TTTravels-Regular.ttf);
}

@font-face {
    font-family: 'TT Travels-Medium';
    src: url(..//Fonts/TTTravels-Medium.ttf);
}

@font-face {
    font-family: 'Neue Machina-Bold';
    src: url(..//Fonts/NeueMachina-Bold.ttf);
}

@font-face {
    font-family: 'Neue Machina-Medium';
    src: url(..//Fonts/NeueMachina-Medium.ttf);
}


.abstract2 {
    position: absolute;
    width: 100%;
    height: 930px;
    left: 0px;
    top: 0px;
    
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2.5px);

}

.MTW {
    position: absolute;
width: 95px;
height: 29px;
left: 66px;
top: 64px;
}

.Advantages {
font-family: 'TT Travels-Regular';  
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
position: absolute;
width: 188px;
height: 29px;
left: 350px;
top: 71px;
text-align: center;
color: white;
}

.ForWhom {

    position: absolute;
    width: 107px;
    height: 29px;
    left: 650px;
    top: 71px;
    
    font-family: 'TT Travels-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    
    text-align: center;
    
    color: #FFFFFF;
}

.PrincipleOfOperation {
    position: absolute;
    width: 207px;
    height: 29px;
    left: 850px;
    top: 71px;
    
    font-family: 'TT Travels-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    
    text-align: center;
    
    color: #FFFFFF;
}

.SignIn {
    position: absolute;
    width: 76px;
    height: 29px;
    left: 1238px;
    top: 71px;
    
    font-family: 'TT Travels-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    
    text-align: right;
    
    color: #FBFC72;
}

.MainHead {
    position: absolute;
    width: 990px;
    height: 138px;
    left: 20%;
    top: 180px;
    
    font-family: 'Neue Machina-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 69px;
    text-align: center;
    
    color: #FFFFFF;
    
}

.ShortDescription {
    position: absolute;
    width: 486px;
    height: 76px;
    left: 35%;
    top: 350px;
    
    font-family: 'TT Travels-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    
    color: #FFFFFF;
}

.ButtonBlock {
    position: absolute;
    width: 325px;
    height: 79px;
    left: 601px;
    top: 500px;
    
    background: #FBFC72;
}

.Connect {
    position: absolute;
    width: 269px;
    height: 31px;
    left: 27px;
    top: 20px;
    
    font-family: 'Neue Machina-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 31px;
    /* identical to box height */
    
    
    color: #000000;
}

.AdvantagesBlock {
    position: absolute;
    width: 100%;
    height: 2500px;
    top: 100%;
    

    backdrop-filter: blur(2.5px);
    background-color: rgb(35, 35, 36);
    left: 0px;

}

.AdvantagesText1 { 
    position: absolute;
    width: 244px;
    height: 31px;
    left: 66px;
    top: 20px;
    
    font-family: 'Neue Machina-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 31px;
    /* identical to box height */
    
    
    color: rgba(251, 252, 114, 0.8);
}

.AdvantagesHead {
    position: absolute;
    width: 882px;
    height: 138px;
    left: 66px;
    top: 55px;

    font-family: 'Neue Machina-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 69px;
    
    color: #FFFFFF;
    
}

.vasya {
    position: absolute;
width: 402px;
height: 512px;
left: 1000px;
top: 150px;
}

.blackVasya {
    position: absolute;
    width: 499px;
    height: 430px;
    left: 950px;
    top: 500px;
}

.headVasya {
    position: absolute;
width: 314px;
height: 31px;
left: 1070px;
top: 580px;

font-family: 'Neue Machina-Medium';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 31px;
/* identical to box height */


color: #FFFFFF;

}

.textVasya {
    position: absolute;
    width: 371px;
    height: 81px;
    left: 1000px;
    top: 650px;
    
    font-family: 'TT Travels-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 95%;
    /* or 27px */
    
    
    color: #FFFFFF;

}

.ellipseVasya {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 1300px;
    top: 500px;
    mix-blend-mode: difference;

}

.number1 {
    position: absolute;
width: 40px;
height: 31px;
left: 66px;
top: 300px;

font-family: 'Neue Machina-Medium';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 31px;
/* identical to box height */


color: rgba(251, 252, 114, 0.8);
}

.AdvantagesInfo1 {
    position: absolute;
    width: 632px;
    height: 76px;
    left: 66px;
    top: 350px;
    
    font-family: 'TT Travels-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 95%;
    /* or 38px */
    
    
    color: #FFFFFF;
}

.UnderAdvantagesInfo1 {
    position: absolute;
    width: 538px;
    height: 46px;
    left: 66px;
    top: 460px;
    
    font-family: 'TT Travels-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 95%;
    /* or 23px */
    
    
    color: rgba(255, 255, 255, 0.8);
    
}

.number2 {
    position: absolute;
    width: 40px;
    height: 31px;
    left: 66px;
    top: 600px;
    
    font-family: 'Neue Machina-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 31px;
    /* identical to box height */
    
    
    color: rgba(251, 252, 114, 0.8);
}

.AdvantagesInfo2 {
    position: absolute;
    width: 632px;
    height: 76px;
    left: 66px;
    top: 650px;
    
    font-family: 'TT Travels-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 95%;
    /* or 38px */
    
    
    color: #FFFFFF;
}


.UnderAdvantagesInfo2 {
    position: absolute;
    width: 538px;
    height: 46px;
    left: 66px;
    top: 760px;
    
    font-family: 'TT Travels-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 95%;
    /* or 23px */
    
    
    color: rgba(255, 255, 255, 0.8);
}

.number3 {
    position: absolute;
    width: 40px;
    height: 31px;
    left: 66px;
    top: 900px;
    
    font-family: 'Neue Machina-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 31px;
    /* identical to box height */
    
    
    color: rgba(251, 252, 114, 0.8);  
}

.AdvantagesInfo3 {
    position: absolute;
    width: 632px;
    height: 76px;
    left: 66px;
    top: 950px;
    
    font-family: 'TT Travels-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 95%;
    /* or 38px */
    
    
    color: #FFFFFF;
}

.UnderAdvantagesInfo3 {
    position: absolute;
    width: 538px;
    height: 46px;
    left: 66px;
    top: 1100px;
    
    font-family: 'TT Travels-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 95%;
    /* or 23px */
    
    
    color: rgba(255, 255, 255, 0.8);   
}

.ForWhomBlock {
position: absolute;
width: 100%;
height: 100%;
top: 202222030%;

backdrop-filter: blur(2.5px);
background-color: rgb(35, 35, 36);
left: 0px;
}

.ForWhomText {
    position: absolute;
    left: 123px;
    top: 50px;  
    font-family: 'Neue Machina-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    color:  rgba(251, 252, 114, 0.8);
}

.ForWhomHead {
    position: absolute;
    height: 138px;
    left: 650px;
    top: 240px;
    
    font-family: 'Neue Machina-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 70px;
    text-align: center;
    
    color: #FFFFFF;
}

.ForWhomNumber1 {
    position: absolute;
    width: 40px;
    height: 31px;
    left: 650px;
    top: 550px;
    
    font-family: 'Neue Machina-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 31px;
    
    
    color: rgba(251, 252, 114, 0.8);     
}

.ForWhomNumber1Head {
    position: absolute;
    left: 650px;
    top: 650px;
    
    font-family: 'TT Travels-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 95%;
    
    
    color: #FFFFFF;   
}

.UnderForWhomHead1 {
    position: absolute;
    left: 650px;
    top: 800px;
    
    font-family: 'TT Travels-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    width: 1100px;
    
    
    color: rgba(255, 255, 255, 0.8);
}

.ForWhomNumber2 {
    position: absolute;
    width: 40px;
    height: 31px;
    left: 2350px;
    top: 550px;
    
    font-family: 'Neue Machina-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 31px;
    
    
    color: rgba(251, 252, 114, 0.8); 
}

.ForWhomNumber2Head2 {
    position: absolute;
    left: 2350px;
    top: 650px;
    
    font-family: 'TT Travels-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 95%;
    
    
    color: #FFFFFF; 
}

.UnderForWhomHead2 {
    position: absolute;
    left: 2350px;
    top: 800px;
    
    font-family: 'TT Travels-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    width: 1100px;
    
    
    color: rgba(255, 255, 255, 0.8);
}

.people {
    position: absolute;
    width: 2000px;
    height: 700px;
    left: 1800px;
    top: 1500px;
}

.blackPeople {

    position: absolute;
    width: 2100px;
    height: 1000px;
    left: 1800px;
    top: 2000px;
}

.peopleText1 {
    position: absolute;
    left: 1950px;
    top: 2100px;
    width: 2000px;
    font-family: 'Neue Machina-Medium';
    font-style: normal;
    font-size: 64px;
    
    color: #FFFFFF;
}

.ConOurService {
    position: absolute;
    width: 1150px;
    left: 1950px;
    top: 2450px;
    font-size: 56px;
    font-family: 'TT Travels-Regular';
    font-style: normal;
    color: #FFFFFF;
}

.ButtonBlock2 {
    position: absolute;
    width: 600px;
    height: 150px;
    left: 2000px;
    top: 2720px;
    
    background: #FBFC72;
}

.Button2Text {
    position: absolute;

    
    font-family: 'Neue Machina-Bold';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 31px;
    left: 26.5px;
    top: 50px;
    
    color: #000000;
}

.PrincipleOfOperationBlock {
    position: absolute;
    width: 100%;
    height: 200%;
    top: 240%;
    
    backdrop-filter: blur(2.5px);
    background-color: rgb(35, 35, 36);
    left: 0px;
}

.princip {
    position: absolute;
    left: 123px;
    top: 50px;  
    font-family: 'Neue Machina-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    color:  rgba(251, 252, 114, 0.8);   
}

.jobService {
    position: absolute;
    height: 138px;
    left: 650px;
    top: 240px;
    
    font-family: 'Neue Machina-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 70px;
    text-align: center;
    
    color: #FFFFFF;
}

.line {
    
position: absolute;
width: 1290px;
height: 5px;
left: 40px;
top: 1350px;

border: 3px solid #FFFFFF;
transform: rotate(90deg);
}

.line2 {
    
    position: absolute;
    width: 1290px;
    height: 5px;
    left: 40px;
    top: 2650px;
    
    border: 3px solid #FFFFFF;
    transform: rotate(90deg);
}

.line3 {
    
    position: absolute;
    width: 1290px;
    height: 5px;
    left: 40px;
    top: 3350px;
    
    border: 3px solid #FFFFFF;
    transform: rotate(90deg);
}

.line4 {
    
    position: absolute;
    width: 1290px;
    height: 5px;
    left: 40px;
    top: 4600px;
    
    border: 3px solid #FFFFFF;
    transform: rotate(90deg);
}


.circle1 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 640px;
    top: 900px;
    border-radius: 50%;
    
    background: #FFFFFF;
}

.circle2 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 640px;
    top: 1800px;
    border-radius: 50%;
    
    background: #FFFFFF;
}

.circle3 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 640px;
    top: 2700px;
    border-radius: 50%;
    
    background: #FFFFFF;
}

.circle4 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 640px;
    top: 3700px;
    border-radius: 50%;
    
    background: #FFFFFF;
}

.circle5 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 640px;
    top: 4600px;
    border-radius: 50%;
    
    background: #FFFFFF;
}

.first {
    position: absolute;
    width: 40px;
    height: 31px;
    left: 850px;
    top: 870px;
    
    font-family: 'Neue Machina-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 31px;
    
    
    color: rgba(251, 252, 114, 0.8); 
}

.reg {
    position: absolute;
    left: 850px;
    top: 1000px;
    
    font-family: 'TT Travels-Medium';
    font-style: normal;
    font-weight:bold;
    font-size: 70px;
    width: 1100px;
    
    
    
    color: rgba(255, 255, 255, 0.8);
}

.regText {
    position: absolute;

    left: 850px;
    top: 1250px;
    width: 1500px;
    font-family: 'TT Travels-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 95%;
    
    
    color: rgba(255, 255, 255, 0.8);
}

.second {
    position: absolute; 
    width: 40px;
    height: 31px;
    left: 850px;
    top: 1768px;
    
    font-family: 'Neue Machina-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 31px;
    
    
    color: rgba(251, 252, 114, 0.8); 
}

.Goal {
    position: absolute;
    left: 850px;
    top: 1900px;
    
    font-family: 'TT Travels-Medium';
    font-style: normal;
    font-weight:bold;
    font-size: 70px;
    width: 1100px;
    
    
    
    color: rgba(255, 255, 255, 0.8);
}

.GoalText {
    position: absolute;

    left: 850px;
    top: 2150px;
    width: 1500px;
    font-family: 'TT Travels-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 95%;
    
    
    color: rgba(255, 255, 255, 0.8);
}

.third {
    position: absolute; 
    width: 40px;
    height: 31px;
    left: 850px;
    top: 2670px;
    
    font-family: 'Neue Machina-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 31px;
    
    
    color: rgba(251, 252, 114, 0.8); 
}

.search {
    position: absolute;
    left: 850px;
    top: 2840px;
    
    font-family: 'TT Travels-Medium';
    font-style: normal;
    font-weight:bold;
    font-size: 70px;
    
    
    
    color: rgba(255, 255, 255, 0.8);   
}

.searchText {
    position: absolute;

    left: 850px;
    top: 3090px;
    width: 1500px;
    font-family: 'TT Travels-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 95%;
    
    
    color: rgba(255, 255, 255, 0.8);
}

.Fourth {
    position: absolute; 
    width: 40px;
    height: 31px;
    left: 850px;
    top: 3670px;
    
    font-family: 'Neue Machina-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 31px;
    
    
    color: rgba(251, 252, 114, 0.8); 
}

.Plavno {
    position: absolute;
    left: 850px;
    top: 3850px;
    
    font-family: 'TT Travels-Medium';
    font-style: normal;
    font-weight:bold;
    font-size: 70px;
    width: 1100px;
    
    
    
    color: rgba(255, 255, 255, 0.8);
}
   
.PlavnoText {
    position: absolute;

    left: 850px;
    top: 4100px;
    width: 1500px;
    font-family: 'TT Travels-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 95%;
    
    
    color: rgba(255, 255, 255, 0.8);
}

.Fifth {
    position: absolute; 
    width: 40px;
    height: 31px;
    left: 850px;
    top: 4580px;
    
    font-family: 'Neue Machina-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 31px;
    
    
    color: rgba(251, 252, 114, 0.8);    
}

.End {
    position: absolute;
    left: 850px;
    top: 4770px;
    
    font-family: 'TT Travels-Medium';
    font-style: normal;
    font-weight:bold;
    font-size: 70px;
    
    
    
    color: rgba(255, 255, 255, 0.8);
}

.EndText {
    position: absolute;

    left: 850px;
    top: 5000px;
    width: 1500px;
    font-family: 'TT Travels-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 95%;
    
    
    color: rgba(255, 255, 255, 0.8);
}

.kirill {
    position: absolute;
width: 1500px;
height: 2500px;
left: 5000px;
top: 1000px;
}

.blackKirill {
    position: absolute;
    width: 2000px;
    height: 1000px;
    left: 4600px;
    top: 2600px;
}

.circleKirill {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 5700px;
    top: 2560px;
}

.InfoKirill {
    position: absolute;

    left: 5250px;
    top: 2750px;
    
    font-family: 'Neue Machina-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 68px;

    
    
    color: #FFFFFF;
}

.kirillText {
    left: 5250px;
    top: 2950px;
    position: absolute;
    width: 1000px;
    font-family: 'TT Travels-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 68px;


    
    
    color: #FFFFFF;
}
