@font-face {
    font-family: 'TT Travels-Regular';
    src: url(..//Fonts/TTTravels-Regular.ttf);
}

@font-face {
    font-family: 'TT Travels-Medium';
    src: url(..//Fonts/TTTravels-Medium.ttf);
}

@font-face {
    font-family: 'Neue Machina-Bold';
    src: url(..//Fonts/NeueMachina-Bold.ttf);
}

@font-face {
    font-family: 'Neue Machina-Medium';
    src: url(..//Fonts/NeueMachina-Medium.ttf);
}

.leftBlock {
    position: absolute;
width: 360px;
height: 100%;
left: 0px;
top: 0px;


background: #201E26;
}

.avatar {
    box-sizing: border-box;

position: absolute;
width: 144px;
height: 144px;
border-radius: 50%;
left: 110px;
border: 1px solid #D0D0D1;
top: 80px;
}


.name {
position: absolute;
width: 156px;
height: 31px;
left: 100px;
top: 220px;
text-align: center;

font-family: 'Neue Machina-Medium';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 31px;


color: #FFFFFF;
}

.ID {
    position: absolute;
    width: 131px;
    height: 23px;
    left: 112px;
    top: 257px;
    
    font-family: 'TT Travels-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 95%;

    
    color: rgba(255, 255, 255, 0.8);
}

.profile {
    position: absolute;
    width: 130px;
    height: 29px;
    left: 110px;
    top: 350px;
    
    font-family: 'TT Travels-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-decoration: none;

}

.myGoal {
    position: absolute;
    width: 130px;
    height: 29px;
    left: 110px;
    top: 400px;
    font-family: 'TT Travels-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-decoration: none;
}

.couch {
    position: absolute;
    width: 130px;
    height: 29px;
    left: 110px;
    top: 450px;
    font-family: 'TT Travels-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-decoration: none;
}

.settings {
    position: absolute;
    width: 130px;
    height: 29px;
    left: 110px;
    top: 550px;
    font-family: 'TT Travels-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-decoration: none;
}

.support {
    position: absolute;
    width: 130px;
    height: 29px;
    left: 110px;
    top: 600px;
    font-family: 'TT Travels-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-decoration: none;
}

.rightBlock {
position: absolute;
width: 1519px;
height: 100%;
left: 360px;
top: 0px;


background: #121116;
}

.logo {
    position: absolute;
    width: 95px;
    height: 29px;
    left: 100px;
    top: 60px;
}

.button {
    position: absolute;
    height: 50px;
    left: 100px;
    top: 610px;
    font-family: 'Neue Machina-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 95%;
    /* identical to box height, or 23px */
    
    
    color: #000000;
    
    background: #FBFC72;
}

.problem {
    position: absolute; 
       height: 38px;
    left: 100px;
    top: 120px;
    
    
    /* TT Travels, заголовки, 40 */
    
    font-family: 'TT Travels-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 95%;
    /* identical to box height, or 38px */
    
    
    color: #FFFFFF;
}

.placeProblem {
    position: absolute;
width: 882px;
height: 371px;
left: 100px;
top: 200px;

/* dark grey */
color: #FFFFFF;
font-size: 24px;
background: #201E26;
}
